@font-face{font-family:S;src:local('SAX2'),url(SAX2.ttf)}
body{margin:1em}
code, #x input{font-family:S}
#x {border-collapse:collapse;counter-reset:n}
#x td {height:2.5em;width:2.5em;border:1px solid currentcolor;padding:0}
#x input{width:100%;height:100%;text-align:center;margin:0;padding:0;border:none;font-size:x-large;background:none;cursor:pointer;border-top-left-radius:1.5em}
#x input::-moz-selection,#x input::selection{color:currentcolor;background:none}
#x input:focus{background:#0f07}
#x .b {background:#222}
#x .b input{cursor:not-allowed}
#x .b input:focus{background:#f007}
#x .n::before{counter-increment:n;content:counter(n);position:relative;display:block;left:0.25em;height:0;font-size:xx-small;z-index:-1}
@media(min-width:62em) and (min-height:32em){
 body{margin-left:33em}
 #x{margin-left:-32em;position:fixed;top:1em}}
@media(max-width:62em) and (min-height:47em){
 body{margin-top:32.9em}
 #x{position:fixed;top:1em;left:1em;background:#fff;box-shadow:0 0 1em 1em #fff}}
@media(max-height:31.999em) and (min-width:62em){
 div{margin-top:-31.65em;margin-left:32em}}